.Sidebar {
  height: fit-content;
  padding: 20px;
  margin: 30px 70px;
}
.sidebar-info {
  padding: 20px;
  /* width: 200px; */
  height: fit-content;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.list-group {
  list-style: none;
  gap: 20px;
  width: 250px;
}

.sildebar-banner {
  background-image: url("../../assets/images/Banner.png");
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 20px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px;
  margin-left: 100px;
}

.acc {
  font-size: 20px;
}
.info {
  /* width: 200px; */
  padding: 20px;
  height: fit-content;
  background-color: #f38332;
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  /* justify-content: center; */
  font-size: 15px;
  color: white;
}
